#**Cleaning Data**

##**1.Load the dataset**

In [ ]:
# Import necessary libraries
import pandas as pd

# Load the dataset
file_path = '/content/AB_NYC_2019.csv'  # Replace with the correct path
data = pd.read_csv(file_path)

# Display the first few rows to understand the structure
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

##**2.Understand the dataset**

In [ ]:
# Check the structure and basic statistics of the data
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [ ]:
# Check for null values
data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

##**3.Handle Missing values**

In [ ]:
data = data.drop('host_name',axis=1)
data['name'] = data['name'].fillna('Unknown')  # Fill missing values
data=data.drop('last_review',axis=1)
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)  # Fill missing values
data.isnull().sum()

id                                0
name                              0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

##**4.Remove duplicates**

In [ ]:
# Check for duplicates
duplicates = data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# Remove duplicates
data = data.drop_duplicates()

Number of duplicate rows: 0

##**5.Standardize the data**

In [ ]:
# Example: Standardize text (e.g., title case)
data['name'] = data['name'].str.title()

In [ ]:
data['neighbourhood_group'] = data['neighbourhood_group'].str.title()
data['neighbourhood'] = data['neighbourhood'].str.title()

In [ ]:
invalid_lat = data[(data['latitude'] < -90) | (data['latitude'] > 90)]
invalid_lon = data[(data['longitude'] < -180) | (data['longitude'] > 180)]
print(f"Invalid latitude rows: {len(invalid_lat)}, Invalid longitude rows: {len(invalid_lon)}")

Invalid latitude rows: 0, Invalid longitude rows: 0

In [ ]:
data['room_type'] = data['room_type'].str.strip().str.title()

In [ ]:
print(data[data['price'] < 0])  # Check for negative prices

Empty DataFrame
Columns: [id, name, host_id, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [ ]:
print(data[data['number_of_reviews'] < 0])

Empty DataFrame
Columns: [id, name, host_id, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [ ]:
print(data[(data['availability_365'] < 0) | (data['availability_365'] > 365)])

Empty DataFrame
Columns: [id, name, host_id, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [ ]:
data.shape

(48895, 14)

##**6.Handle Outliers**

In [ ]:
# Check for outliers in numerical columns
numerical_cols = data.select_dtypes(exclude=['object']).columns  # Select numeric columns

for col in numerical_cols:
    # Calculate IQR and bounds
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Identify outliers
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
   # Print the number of outliers in the column
    print(f"Number of outliers in {col}: {outliers.shape[0]}")

Number of outliers in id: 0
Number of outliers in host_id: 1526
Number of outliers in latitude: 425
Number of outliers in longitude: 2833
Number of outliers in price: 2972
Number of outliers in minimum_nights: 6607
Number of outliers in number_of_reviews: 6021
Number of outliers in reviews_per_month: 3312
Number of outliers in calculated_host_listings_count: 7081
Number of outliers in availability_365: 0

In [ ]:
# Remove outliers from numerical columns
numerical_cols = data.select_dtypes(exclude=['object']).columns  # Select numeric columns

for col in numerical_cols:
    # Calculate IQR and bounds
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Filter the data to exclude outliers
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]

# Check the new shape of the dataset after outlier removal
print(f"Shape of data after outlier removal: {data.shape}")

Shape of data after outlier removal: (22888, 14)

##**7.Validate data Integrity**

In [ ]:
# Recheck for null values and duplicates
print(data.isnull().sum())
print(data.duplicated().sum())

# Ensure all columns have consistent types
print(data.dtypes)

id                                0
name                              0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64
0
id                                  int64
name                               object
host_id                             int64
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object